<!-- Swetrix Analytics -->
<script src="https://swetrix.org/swetrix.js" defer></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    swetrix.init('YZCD5K5ShWGT', {
      apiURL: 'https://analytics-api.kieks.me/log',
    })
    swetrix.trackViews()
    swetrix.trackErrors({
      sampleRate: 1,
    })
  })
</script>

<noscript>
  <img
    src="https://analytics-api.kieks.me/log/noscript?pid=YZCD5K5ShWGT"
    alt="Analytics"
    referrerpolicy="no-referrer-when-downgrade"
  />
</noscript>

<!-- Datadog RUM -->
<script>
  (function(h,o,u,n,d) {
    h=h[d]=h[d]||{q:[],onReady:function(c){h.q.push(c)}}
    d=o.createElement(u);d.async=1;d.src=n
    n=o.getElementsByTagName(u)[0];n.parentNode.insertBefore(d,n)
  })(window,document,'script','https://www.datadoghq-browser-agent.com/eu1/v6/datadog-rum.js','DD_RUM')
  window.DD_RUM.onReady(function() {
    window.DD_RUM.init({
      clientToken: 'pub66cee9769ee7cc1d40215bccc9111bae',
      applicationId: '716ef04f-1021-4cde-af17-8673d17a4cce',
      site: 'datadoghq.eu',
      service: 'regenfass.brand',
      env: 'prod',
      // Specify a version number to identify the deployed version of your application in Datadog
      version: '1.0.0',
      sessionSampleRate: 100,
      sessionReplaySampleRate: 20,
      trackBfcacheViews: true,
      defaultPrivacyLevel: 'mask-user-input',
    });
  })
</script>
